body{
    background: rgb(238, 207, 197);
    color: rgba(0, 0, 0, 0.925);
    font-family: roboto;
    font-size:x-large;
    text-align:center;
}

img{
    width: 320px;
}

img:hover {
     transform: scaleX(-1);
}